<div class="user_reg_forms">
<div class="user_create_forms">
<h2 class= "f.header-sesh">SIGN UP</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-blank-input" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-blank-input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-blank-input" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, class:"form-blank-input" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, class:"form-blank-input" %>
  </div>

  <div class="field">
    <%= f.label :bank_name %><br />
    <%= f.text_field :bank_name, autofocus: true, class:"form-blank-input" %>
  </div>

  <div class="field">
    <%= f.label :bank_account_number %><br />
    <%= f.text_field :bank_account_number, autofocus: true, class:"form-blank-input" %>
  </div>

  <div class="field">
    <%= f.label :account_balance %><br />
    <%= f.number_field :account_balance, value: 5000, autofocus: true, class:"form-blank-input" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

  <span class='to_login'>
  <div>
    Already have an account?
  </div>
  <div>
    <%= render "devise/shared/links" %>
  </div>
  </span>

</div>

<div class="words">
  <div class="app">
    STOCK-IEX
  </div>
</div>

</div>