<div class="user_details_stock">
<div class="each-user-detail">
<div class="user_options">
    <div id="home">
        <%= link_to 'Home', root_path, class:"a-link" %>
        <div>
        <%= current_user.first_name %> 
        <%= current_user.last_name %>
        </div> 
        <div id= "user_balance">
      Account Balance: <%= current_user.account_balance %>
    </div> 

    <div id="find_stock">
        <%= link_to 'Buy Stock', stocks_path, class:"a-link" %>
      <%= link_to 'Portfolio', portfolios_path, class:"a-link"  %>    
      <%= link_to 'Transactions', transactions_path, class:"a-link"  %>  
    </div>  
</div>  
</div>  
</div>  




