<% if current_user %>

  <% if current_user.admin == false %>
    <div class="user_details">
    <div class="each-user-detail">
      <span>
      Welcome,
      </span> 
      <%= current_user.first_name %> 
      <%= current_user.last_name %>
      <div id= "user_balance">
      <span>
      Account Balance: 
      </span> 
        <span class="each-user-detail"> <%= current_user.account_balance %> </span> 
      </div> 
      </div> 
    </div> 

    <div class="user_options_home">
      <div class="find_stock">
      <%= link_to 'Find Stock', stocks_path, class:"each_tab", id:"h_find_stock" %>    
      <%= link_to 'Portfolio', portfolios_path, class:"each_tab", id:"h_portfolio" %>    
      <%= link_to 'Transactions', transactions_path, class:"each_tab", id:"h_transaction" %>   
      </div>  
    </div>
    

  <%else%>
    <div class = 'user-list-page'>
    <div class = 'admin-header'>
    Users Log
    </div>
    <br>
    <% @users.each do |user| %>
    
    <div class = 'admin_user'>
      <div class = 'user-email-a'>
      <%= user.email %>
      </div>
      <div class = 'user-admin-a'>
      Admin:  <%= user.admin %>
      </div>
    </div>
    
    <%end%>
    </div>

  <%end%>

<%else%>
<%= link_to 'Sign Up', new_user_registration_path%>
<%= link_to 'Login', new_user_session_path %>
<%end%>

<%= render 'layouts/alerts' %>

