
<div class="user_reg_forms">
<div class="user_create_forms">
  <h2 class= "f.header-sesh">LOGIN</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-blank-input" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"form-blank-input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"session-button"%>
  </div>
  <% end %>

  <span class='to_login'>
  <div>
    No account yet?
  </div>
  <div>
    <%= render "devise/shared/links" %>
  </div>
  </span>

</div>

<div class="words">
  <div class="app">
    STOCK-IEX
  </div>
</div>
</div>